<!-- Write HTML code here -->
<!DOCTYPE html>
<html lang="en">
    <head>
      <title>TableView - Startup</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      {% include "DataFrameRendering/StyleSheets.html" %}
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    </head>
    <body>
    <h2 class="text-center"><u>Products Data</u></h2><br>
    <p style="text-align: center">Here is a list of different products that have all their reviews grouped together.</p>

    {% include "DataFrameRendering/NavBar.html" %}
        <div class="container">
            <h2 class="text-center"><u>Products Data</u></h2><br>
                <table class="table table-dark table-striped">
                <thead>
                    <tr>
                        <th>Product Names</th>
                        <th>Product id</th>
                        <th>Average review score</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- If data exists iterate through and set links and column values-->
                    {%if data%}
                    {%for i in data%}
                    <tr>
                        <td><a href={{i.link}}>{{i.names}}</a></td>
                        <td>{{i.product_id}}</td>
                        <td>{{i.scores }}</td>
                    </tr>
                    {%endfor%}
                    {%endif%}
                </tbody>
            </table>
        </div>
    <button onclick={{next_products_url}} type="button">
         Next page</button>
    <button onclick={{last_products_url}} type="button">
         Last page</button>
    {% include "DataFrameRendering/Footer.html" %}
    </body>
</html>